---
import Layout from "../layouts/Layout.astro";
import { playlists } from "@/lib/data";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- <PageHeadear /> -->
    <div class="relative z-10 px-6">
      <!-- <Greetings /> -->
      <h1 class="text-4xl">Buenos dias</h1>

      <div class="flex flex-warp mt-6 gap-4">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
</Layout>

<style is:global>
    /* Personalización adicional del scroll */
    /* Puedes agregar más personalización aquí según tus necesidades */
    ::-webkit-scrollbar {
        width: 13px; /* Ancho del scroll */
    }

    ::-webkit-scrollbar-track {
        background: transparent; /* Color de fondo del track */
    }

    ::-webkit-scrollbar-thumb {
        background: #555; /* Color del thumb (barra de desplazamiento) */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #808080; /* Color del thumb al pasar el mouse sobre él */
    }

</style>
